<li class="collection-item row center-align valign-wrapper">
    <div class="col l1 valign">
        1
    </div>
    <div class="col l2 valign">
        Freddy Frederickson
    </div>
    <div class="col l2 valign">
        555-555-5555
    </div>
    <div class="col l3 valign">
        University of AWESOME UNIVERSITY
    </div>
    <div class="col l2 valign">
        freddy@awesome.edu
    </div>
    <div class="col l2">
        <button onclick="alert('hello!');" class="btn-collapse btn-floating waves-effect waves-light red">+</button>
        <button onclick="alert('hello!');" class="btn-floating waves-effect waves-light red">+</button>
        <button href="#modal1" class="btn-floating waves-effect waves-light modal-trigger">PENCIl</button>
        <button data-activates="slide-out" class="button-collapse btn-floating waves-effect waves-light red">EX</button>
    </div>
</li>