<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView">
            <h4>John Doe</h4>
            <h5> University of North Carolina at Chapel Hill </h5>
            <h6>jdandturk@gmail.com</h6>
            <h6> 666 666 6666 </h6>
            <h6> Current Status : </h6>
            <h6> Pending Status : </h6>
            <hr>
            <h5> General Info: </h5>
            <h6> T-Shirt : </h6>
            <h6> Age : </h6>
            <h6> DOB: </h6>
            <h6> Gender: </h6>
            <h6> Checked In: </h6>
            <h6> Graduation : </h6>
            <h6> Website : </h6>
            <h6> Major : </h6>
            <hr>
            <h5> RSVP </h5>
            <h6> RSVP Status </h6>
            <h6> RSVP Date </h6>
            <h6> RSVP By </h6>
            <hr>
            <h5> Travel Stuff: </h5>
            <h6> Reimbursement: </h6>
            <h6> Travel Method: </h6>
            <h6> Travel Cost : </h6>
            <hr>
            <h5> Team Stuff </h5>
            <h6> Team Name: </h6>
            <h6> Team Mates: </h6>
            <h7> Person A </h7>
            <h7> Person B </h7>
            <hr>
            <h5> House Keeping: </h5>
            <h6> MLH Code of Conduct </h6>
            <h6> MLH Media Release </h6>
        </div>
    </li>
</ul>